<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                      <li>@Html.ActionLink("About", "About", "Home")</li>*@
                    @if (Session["UserName"] != null)
                    {
                        <li>@Html.ActionLink("Nhân viên", "Index", "Nhanviens")</li>
                        <li>@Html.ActionLink("Chức vụ", "Index", "Chucvus")</li>
                        <li>@Html.ActionLink("Phòng ban", "Index", "Phongbans")</li>
                        <li>@Html.ActionLink("Lương", "Index", "Luongs")</li>
                        <li>@Html.ActionLink("Tạm ứng", "Index", "Tamungs")</li>
                        <li>@Html.ActionLink("Chấm công", "Index", "Chamcongs")</li>
                        <li>@Html.ActionLink("Đăng xuất", "Logout", "Home")</li>
                    }

                    @if (Session["UserName"] is null)
                    {
                        <li>@Html.ActionLink("Đăng ký", "Create", "Dangkies")</li>
                        <li>@Html.ActionLink("Đăng nhập", "Login", "Home")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
