@model QuanliNS.Models.Nhanvien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Nhanvien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Chucvu.TenCV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chucvu.TenCV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phongban.TenPB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phongban.TenPB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamSinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamSinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diachi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diachi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gioitinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gioitinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoCMND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoCMND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quyen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaNV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
