@model IEnumerable<QuanliNS.Models.Tamung>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách tạm ứng </h2>
@if (Convert.ToInt32(Session["RoleID"]) == 1)
{
    <p>
        @Html.ActionLink("Tạo mới", "Create")
    </p>
}
    <table class="table">
        <tr>
            <th>
                Ngày tạm ứng
            </th>
            <th>
                Số tiền
            </th>
            @if (Convert.ToInt32(Session["RoleID"]) == 1)
            {
                <th>Chức năng</th>
            }
            </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sotien)
        </td>
        @if (Convert.ToInt32(Session["RoleID"]) == 1)
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaNV }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaNV }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaNV })
            </td>
        }
        </tr>
        }

    </table>
